@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/* font-family: 'Roboto', sans-serif; */


:root { /*css переменные*/
    --container-width: 1270px;  
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
    --orange: #FF7C4E
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    /* background-color: #F6F6F6; */
    color: #0F1F1C;
}

.none {
    display: none !important;/*для скрытия элементов*/
}

.container {
    max-width: var(--container-width);/*Используем переменные, так удобно если надо поменять значение то только в одном месте*/
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

/*header__top*/
.header {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    
    background-color: rgb(150 158 145 / 69%);
    color: white;
}

.header--card {
    position: relative;
}

.header__top {
    padding-top: 10px;
    padding-bottom: 10px;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;


    font-size: 22px;
   font-weight: 300;
}

.nav__list {
    display: flex;
    column-gap: 55px;
}

.nav__list li:hover {
    color: rgb(97, 140, 112);
    transition: 0.2s;
}

.nav__list li {
    cursor: pointer;
}

.logo{
    max-width: 300px;
    height: auto;
    
}

.nav__info {
    display: flex;
    column-gap: 55px;

    cursor: pointer;
}

.nav__info li:hover {
    color: rgb(97, 140, 112);
    transition: 0.2s;
}

.nav__basket img {
    width: 25px;
}

/* Header-carousel */

.container-carousel {
    width: 100vw;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
}

.owl-carousel {
    overflow: hidden;
}
.owl-stage {
    display: block !important;
}
.slider_item {
    width: 100%;
    max-height: 100vh;
    background-size: cover;
    background-position: center;
    object-fit: cover; 
    overflow: hidden;

    transition: 0.2s ease-in; /*Для плавности */
}

.owl-item .active .center {
    width: 100;
    max-height: 100vh;
}

.owl-carousel{
    /* max-height: 10; */
}

.owl-dots {
    margin-top: -24px !important;
    position: relative;
}  */ 



/*---new slider*/
.new__item{
    width: 800px;
    height: auto;
    border-radius: 20px;
}

.xx {
    width: 56px;
    height: 56px;
    object-fit: cover;
}
.owl-stage{
    display: flex; 
}

.owl-nav {
    display: none;
}

.owl-next{
    position: relative;
    right: -957%;
}

.item-slider-preview {
    padding-top: 15px;
}

.new__slider__item {
    height: 100vh;
    width: 600px;
    object-fit: cover;
    border-radius: 20px;
}






/* preview-collection */
.preview-collection {
    margin-top: 44px;
}

.preview-collection__title {
    padding-bottom: 44px;
    
    text-align: center;
    font-size: 36px;
}

.preview-collection__row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 44px;
    width: 100%;
}

.product-card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 33.3333%;
}

.product-card__preview {
    padding-bottom: 20px;
}


.image {
    max-width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
}
.image.first,.image.second {
    border:2px solid transparent;
    margin:0;
    padding:0;
    }
    
    .image.first {
    opacity:1px;
    display:block;
    position:absolute;
    z-index:1;
    transition-duration:0.1s;
    -webkit-transition-duration:0.1s;
    -moz-transition-duration:0.1s;
    -o-transition-duration:0.1s;
    -ms-transition-duration:0.1s;
    }
    
    .image.first:hover {
        opacity:0.00;
        }
     
    div.ImgField {
    display:inline-block;
    background-position:center center;
    background-repeat:no-repeat;
    margin:0;
    padding:0;
    }



.image-shop {
    width: 300px;
    height: 450px;
    background-color: #333;
}


.product-card__title {
    padding-bottom: 20px;

    text-align: center;
    font-size: 20px;
    font-weight: 400;

    color: black;
}

.product-card__price {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.product-card--botton {
    width: 33.333%;
    height: 450px;

    border-radius: 20px;
    /* background-color: rgb(150 158 145 / 69%); */
}

.product-card--shop {
    padding: 20px 30px;
    background-color: rgb(150 158 145 / 69%);
    border-radius: 40px;
    font-size: 25px;
}
.product-card--shop a {
    color: #fff;
}







/* product-card */

.main-card {
    background: rgb(245, 245, 245);
}

.product-card__row {
    display: flex;
    column-gap: 56px;
    margin: 44px 0;
    padding: 20px;
    width: 100%;

    background: white;
    border-radius: 27px;
}

.product-card__slider {
    width: 50%;
    overflow: hidden;

    border-radius: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    /* row-gap: 15px; */
    width: 50%;
}

.product-info__title {
    padding-bottom: 10px;

    font-size: 22px;
}

.product-info__price {
    padding-bottom: 28px;

    font-size: 20px;
    font-weight: bold;
}


.product-info__size {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    padding-bottom: 20px;
}

.product-info__size span {
    font-weight: 500;
}

.country {
    display: flex;
    column-gap: 20px;
    
    padding-bottom: 10px;
}

.size {
    padding: 4px 20px;

    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    border-radius: 5px;
}

.size:hover {
    cursor: pointer;
    transition: 0.4s;
    color: #fff;
    background-color:rgb(80 100 68 / 79%);
}

.color {
    display: flex;
    column-gap: 20px;
    
    padding-bottom: 10px;

}

.color__item {
    width: 58px;
    height: 25px;
    border-radius: 5px;
    background: gray;
    cursor: pointer;
}

.color__item:hover {
    transition: 0.7s;
    border: 1px solid black;
} 

.rose {
    background-color: rgb(255, 192, 203);
}

.blue {
    background-color: rgb(114, 156, 255);
}

.green {
    background-color: rgb(80 100 68 / 79%);
}

.btn {
    max-width: 200px;
    margin-bottom: 40px;
    padding: 8px 15px;

    font-size: 22px;
    color: #fff;
    border-radius: 21px;
    background-color: rgb(80 100 68 / 79%);
}

.product-info__text {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    line-height: 26px;
}

.info__composition span{
    font-weight: 500;
}

.info__recommendations span {
    font-weight: 500;
}

.info__recommendations-size span {
    font-weight: 500;
}






























/* Brand-info */
.main {
    overflow: hidden;
}

.brand-info__card {
    background-color: rgb(245, 245, 245);
}

.brand-info {
    padding-top: 35px;
}

.brand-info__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    padding: 70px 40px;
    border-radius: 20px;
}

.target-brand {
    text-align: center;

    margin-bottom: 70px;
    max-width: 870px;
}

.target-brand__title {
    font-size: 40px;
    font-weight: 500;

    margin-bottom: 20px;
}

.target-brand__text {
    font-size: 19px;

    line-height: 29px;
}

.brand-objectives {

}

.brand-objectives__title {
    text-align: center;
    font-size: 35px;
    font-weight: 500;

    margin-bottom: 20px;
}

.brand-objectives__row {
    display: flex;
    column-gap: 15%;
    
    flex-wrap: wrap;
    width: 100%;
}

.brand-objectives__card {
    width: 23.333%;

    line-height: 29px;
}

.brand-objectives__card h3 {
    /* text-align: center; */
}

.brand-objectives__card h3{
    padding-bottom: 15px;

    font-size: 19px;
    font-weight: 300;
}

.brand-objectives__card p {
    font-size: 17px;
}








/* -------------FAQ--------------------- */

.faq {
    padding: 35px 0px;
}

.faq__title {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
}

.sn-accordion-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px auto;
  }
  .sn-accordion-container > h2{
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
  }
  
  .set{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 48%;
    height: auto;
    background-color: #fff;
    column-gap: 4px;
  }
 
  
  .set > a{
    display: flex;
    padding: 25px 10px 25px 0px;
    text-decoration: none;
    color: #333;
    justify-content: space-between;
    font-weight: 600;
    column-gap: 13px;
    font-size: 20px;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  .set a.active{
    border-bottom: none;
  }
  
  .set > a .plus,
  .set > a .minus {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 200ms ease;
    transform: rotate(0deg);
  }
  
  .set > a .plus:hover {
    background-color: rgb(150 158 145 / 69%);
    transition: 200ms ease;
    transform: rotate(-45deg);
  }
  
  .set > a.active .minus:hover {
    background-color: rgb(150 158 145 / 69%);
    transition: 200ms ease;
    transform: rotate(0deg);
  }
  
  .set > a .plus .icon,
  .set > a .minus .icon {
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
  }
  
  .set > a .plus .icon::before,
  .set > a .minus .icon::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 25px;
    height: 1px;
    background: rgb(150 158 145);
  }
  
  .set > a .plus:hover .icon::before,
  .set > a .minus:hover .icon::before,
  .set > a .plus:hover .icon::after,
  .set > a .minus:hover .icon::after{
    background: #fff;
  }
  
  .set > a .plus .icon::after,
  .set > a .minus .icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 1px;
    height: 25px;
    background: rgb(150 158 145);
  }
  
  .set > a .plus:hover .icon::before,
  .set > a .plus:hover .icon::after {
    background: #fff;
  }
  
  .set > a.active .minus {
    transition: 200ms ease;
    transform: rotate(45deg);
    background: #fff;
    background-color: rgb(150 158 145 / 69%);
  }
  
  .content{
    position:relative;
    width: 100%;
    font-size: 18px;
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display:none;
  }
  .content p{
    padding: 0px 0px 30px;
    margin: 0;
    color: #333;
  }

  .set > a.active .minus .icon::before,
  .set > a.active .minus .icon::after {
    background-color: #fff;
  }








  /* Footer */

.footer {
    background-color: rgb(245, 245, 245);
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 0px;
}

.fooret__nav__list {
    flex-direction: column;
    row-gap: 25px;

    font-size: 24px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.contact a{
    cursor: pointer;
    color: #0F1F1C;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.footer__social-networks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo img {
    max-width: 139px;
    height: auto;
    border-radius: 26px;
}

.footer__social-networks-logo img {
    max-width: 271px;
}

.footer__social-networks-text a {
    text-decoration: underline;
}


/* Menu-icon */
.nav__toggle {
    display: none;
}

.menu-icon-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
}

.menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menu-icon.menu-icon--active {
    background-color: transparent;
}

.menu-icon.menu-icon--active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon--active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


/* Media */



@media (max-width: 1200px) {

    .nav {
        column-gap: 20px;
    }

    .nav__list, .nav__info {
        display: none;
    }

    .nav__logo {
        display: flex;
        flex-grow: 1;
    }

    .nav__toggle {
        display: block;
    }

    .no-scroll {
        overflow-y: hidden;
    }

    .nav--mobile {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;

        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 40px;
        padding-bottom: 40px;


        background: rgb(126 139 121);
    }

    .nav--mobile .nav__logo {
        order: -2;
    }

    .nav--mobile .nav__list,
    .nav--mobile .nav__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 25px;

        font-size: 22px;
    }

    .nav--mobile .nav_list a.active::after,
    .nav--mobile .nav_list a:hover::after {
        display: none;
    }

    .nav--mobile .nav__toggle {
        position: fixed;    
        top: 19px;
        right: 14px;
    }

    .nav--mobile .nav__basket {
        position: fixed;    
        top: 20px;
        right: 64px;
    }
    .nav--mobile .nav__logo {
        flex-grow: 0;
    }

}

@media (max-width: 580px) {

    .nav--mobile .nav__toggle {
        top: 19px;
        right: 14px;
    }

    .nav--mobile .nav__basket {
        top: 20px;
        right: 64px;
    }
}

@media (max-width: 460px) {

    .nav--mobile .nav__logo img {
        width: 280px;
    }
    .nav__logo img {
        width: 190px;
    }
    .owl-item.active {
        margin-right: 0 !important;
    }

    
}